RewriteEngine On
RewriteRule ^admin/dashboard$ /FC/admin/index.php [NC,L]
RewriteRule ^subadmin/dashboard$ /FC/subadmin/index.php [NC,L]
RewriteRule ^superadmin/dashboard$ /FC/superadmin/index.php [NC,L]
RewriteRule ^FC/?$ FC/login.php [L]